.button {
}

.button:not(:global(.Mui-disabled)):global(.MuiButton-contained):global(.error) {
  background-color: var(--em-error-main);
  color: var(--em-error-contrastText);
}

.button:not(:global(.Mui-disabled)):global(.MuiButton-contained):global(.warning) {
  background-color: var(--em-warning-main);
  color: var(--em-warning-contrastText);
}

.button:not(:global(.Mui-disabled)):global(.MuiButton-contained):global(.success) {
  background-color: var(--em-success-main);
  color: var(--em-success-contrastText);
}

.button:not(:global(.Mui-disabled)):global(.MuiButton-text):global(.error) {
  color: var(--em-error-main);
}

.button:not(:global(.Mui-disabled)):global(.MuiButton-text):global(.warning) {
  color: var(--em-warning-main);
}

.button:not(:global(.Mui-disabled)):global(.MuiButton-text):global(.success) {
  color: var(--em-success-main);
}
