.styleRoot {
  --em-bg: #ffffff;
  --em-bg-hue1: #f2f2f2;
  --em-bg-hue2: #ebebeb;
  --em-f: #333;
  --em-f-accent: #fff;
  --em-f-hue1: #8a9499;
  --em-f-hue2: rgba(0, 0, 0, 0.54);
  --em-f-hue3: rgba(0, 0, 0, 0.84);
  --em-f-hue4: rgba(0, 0, 0, 0.13);

  --em-primary: #655dd0;
  --em-secondary: #f6a001;
  --em-bg-primary: rgba(101, 93, 208, 0.08);
  --em-bg-primary-hover: rgba(101, 93, 208, 0.2);
  --em-bg-secondary: rgba(246, 160, 1, 0.08);
  --em-bg-secondary-hover: rgba(246, 160, 1, 0.2);

  --em-warning: #ff8d72;
  --em-danger: #fd5d93;
  --em-success: #8cc63f;
  --em-contrast: #3d474d;
  --em-tag-default: hsla(0,0%,42.7%,0.18);
  --em-font-default: #6d6d6d;
  --em-tag-red: rgba(254,114,67,0.18);
  --em-font-red: #fe7243;
  --em-tag-orange: rgba(254,177,46,0.18);
  --em-font-orange: #feb12e;
  --em-tag-yellow: rgba(255,200,27,0.18);
  --em-font-yellow: #ffc81b;
  --em-tag-green: rgba(123,196,126,0.18);
  --em-font-green: #7bc47e;
  --em-tag-lime: rgba(116,197,189,0.18);
  --em-font-lime: #74c5bd;
  --em-tag-aqua: rgba(9,174,244,0.18);
  --em-font-aqua: #09aef4;
  --login-gradient: linear-gradient(253deg,#0cc898,#1797d2,#864fe1);
  --em-shadow: 0 5px 10px rgba(154,160,185,0.025),0 15px 40px #a6adc9;
  --em-shadow-hue1: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
  --em-shadow-hue2: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}