.iconButton:not(:global(.Mui-disabled)):global(.error) {
  color: var(--em-error-main);
}

.iconButton:not(:global(.Mui-disabled)):global(.warning) {
  color: var(--em-warning-main);
}

.iconButton:not(:global(.Mui-disabled)):global(.success) {
  color: var(--em-success-main);
}

.iconButton:not(:global(.Mui-disabled)):global(.info) {
  color: var(--em-success-main);
}

.iconButton:not(:global(.Mui-disabled)):global(.MuiIconButton-sizeSmall.small) {
  padding: 8px;
  font-size: 1.25rem;
}

.iconButton:global(.shadow) {
  box-shadow: var(--em-shadow-4);
}

.iconButton:not(:global(.Mui-disabled)):global(.primaryAction) {
  color: var(--em-primary-main);
  background-color: var(--em-primary-background);
  box-shadow: var(--em-shadow-5);
}
